.topicos {
    background-color: var(--azul-escuro);
    text-align: center;
    padding: 1em;
}

.topicos__titulo {
    color: var(--branco);
    font-size: 16px;
    padding: 1em;
    padding-bottom: 1.5em;
    font-weight: 300;
    text-transform: uppercase;
}

.topicos__lista {
    display: flex;
    text-transform: capitalize;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__lista-item {
    margin: 1.5em 0.5em;
}

.topicos__lista-link {
    background-color: var(--laranja);
    font-weight: 700;
    color: var(--branco);
    justify-content: space-between;
    text-decoration: none;
    padding: 1em;
}